<header class="ae-container-fluid ae-container-fluid--full rk-header ">
  <input type="checkbox" id="mobile-menu" class="rk-mobile-menu">
  <label for="mobile-menu">
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
  </label>
  <div class="ae-container-fluid rk-topbar">
    <h1 class="rk-logo">
      <a routerLink="home">{{ _is.info.titulo }}<sup>tm</sup></a>
    </h1>
    <nav class="rk-navigation">
      <ul class="rk-menu">
        <li class="rk-menu__item" routerLinkActive="active">
          <a routerLink="home" class="rk-menu__link">Home</a>
        </li>
        <li class="rk-menu__item" routerLinkActive="active">
          <a routerLink="about" class="rk-menu__link">Sobre nosotros</a>
        </li>
        <li class="rk-menu__item" routerLinkActive="active">
          <a href="blog.html" class="rk-menu__link">Blog</a>
        </li>
        <li class="rk-menu__item" routerLinkActive="active">
          <a href="#0" class="rk-menu__link">Pages</a>
          <nav class="rk-menu__sub">
            <ul class="rk-container">
              <li class="rk-menu__item" routerLinkActive="active">
                <a routerLink="about" class="rk-menu__link">About</a>
              </li>
              <li class="rk-menu__item" routerLinkActive="active">
                <a href="documentation.html" class="rk-menu__link">Documentation</a>
              </li>
              <li class="rk-menu__item" routerLinkActive="active">
                <a href="design-styles.html" class="rk-menu__link">Design Styles</a>
              </li>
            </ul>
          </nav>
        </li>
        <li class="rk-menu__item"><a href="contact.html" class="rk-menu__link">Contact Us</a>
        </li>
      </ul>
      <div class="rk-search">
        <input name="buscar"
               (keyup.enter)="buscarProducto(buscarTexto.value)"
               #buscarTexto
               type="text"
               placeholder="Buscar..."
               id="urku-search"
               class="rk-search-field">
        <label for="urku-search">
          <svg>
            <use xlink:href="assets/img/symbols.svg#icon-search"></use>
          </svg>
        </label>
      </div>
    </nav>
  </div>
</header>
