<section *ngIf="producto"
          class="ae-container-fluid ae-container-fluid--full">

  <!-- SVG del loading -->
  <div align="center" *ngIf="cargando">
    <h3>Cargando los productos <br> </h3>
    <div class="loader loader--style1" title="0">
      <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
      <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
        s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
        c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
      <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
        C22.32,8.481,24.301,9.057,26.013,10.047z">
        <animateTransform attributeType="xml"
          attributeName="transform"
          type="rotate"
          from="0 20 20"
          to="360 20 20"
          dur="0.5s"
          repeatCount="indefinite"/>
        </path>
      </svg>
    </div>
    <p> por favor espere...</p>
  </div>

  <!-- .item-inside-1 -->
  <header [ngStyle]="{ 'background-image': 'url(assets/productos/'+ cod +'/main.jpg)' }"
          *ngIf="!cargando"
          class="rk-portfolio-cover animated fadeIn">
    <div class="item-inside__meta">
      <h1 class="ae-u-bolder rk-portfolio-title sombreado">{{ producto.producto}}</h1>
      <p class="ae-theta rk-portfolio-category sombreado">{{ producto.categoria }}</p>
    </div>
  </header>
  <div class="ae-container-fluid">
    <div class="ae-grid ae-grid--collapse rk-portfolio-info ">
      <div class="ae-grid__item item-lg-8 item-sm--center au-xs-ta-center au-lg-ta-left">
        <h2 class="rk-portfolio-inner-title ">{{ producto.producto }}</h2>
      </div>
      <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right rk-portfolio-details">
        <p class="rk-portfolio-inner-client "><span class="ae-lambda">Client: </span><span class="ae-u-bolder">Agency Design Studio</span></p>
        <p class="au-underline rk-portfolio-inner-website "><a href="#0" class="ae-kappa">www.agencydesign.com</a></p>
        <p class="ae-kappa ae-u-bold rk-portfolio-inner-date ">12 August, 2015</p>
      </div>
    </div>
  </div>
  <div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">
    <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
      <div class="ae-grid__item item-lg-5 au-lg-ptp-1">
        <h4 class="ae-u-bolder">{{ producto.subtitulo }}</h4>
        <p class="ae-eta">{{ producto.desc1 }}. </p>
        <!-- <p class="ae-eta">{{ producto.desc2 }}.</p> -->
      </div>
      <div class="ae-grid__item item-lg-6 item-lg--offset-1">
        <img src="assets/productos/{{ cod }}/pic-1.jpg" alt="{{ producto.producto }}"></div>
    </div>
    <div class="ae-grid ae-grid--collapse">
      <div class="ae-grid__item item-lg-8">
        <img src="assets/productos/{{ cod }}/pic-2.jpg" alt="{{ producto.producto }}">
      </div>
      <div class="ae-grid__item item-lg-3 item-lg--offset-1 au-lg-ptp-1">
        <p>{{ producto.desc2 }}. </p>
        <p class="ae-u-bolder">Right Box Small Text</p>
      </div>
    </div>
  </div>
  <div class="ae-container-fluid au-pt-4 au-pb-4">
    <div class="group-buttons">
      <a href="#0" class="au-mt-2 arrow-button arrow-button--right">Next Project
        <span class="arrow-cont">
          <svg><use xlink:href="assets/img/symbols.svg#arrow"></use></svg>
        </span>
      </a>
    </div>
  </div>
</section>
